* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header-top {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #255ee9;
}

.container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discord-logo {
    text-align: left;
    line-height: 40px;
    padding-left: 5px;
}

.menu {
    text-align: center;
    line-height: 40px;
}

.menu li a {
    padding: 10px 10px;
}

.login {
    text-align: right;
    line-height: 40px;
    padding-right: 5px;
}

.discord-logo, .menu, .login {
    height: 40px;
}

.login, .discord-logo {
    width: 25%;
    color: white;
}

.button {
    text-align: center;
    border-radius: 20px;
    height: 40px;
    padding: 5px 15px;
}

.fa-solid.fa-down-long.black {
    color: black;
    font-size: 20px;
    padding-right: 5px;
}

.fa-solid.fa-down-long.white { 
    color: white;
    font-size: 20px;
    padding-right: 5px;
}

.button.white {
    background-color: white;
    color: black;
    border-style: none;
}

.button.black {
    background-color: #23272a;
    color: white;
    border-style: none;
}

.button.blue {
    background-color: #7289da;
    color: white;
    border-style: none;
}

.button.blue:hover {
    cursor: pointer;
    background-color: #8590ff;
}

.button.white:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

.button.black:hover {
    cursor: pointer;
    background-color: #424a50;
}

.button.big {
    height: 45px;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 15px;
}

.header-title {
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.p-header {
    font-size: 20px;
    margin-bottom: 20px;
}

.header-title, .p-header {
    color: white;
}

.menu {
   width: 50%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.header-bottom {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.header-content {
    text-align: center;
    height: 400px;  
    width: 45%; 
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.section-small {
    height: 800px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wave {
    position: absolute;
    height: 100px;
    bottom: 0px;
    right:0px;
    width: 100%;
}

.wave.filter-gray {
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(36deg) brightness(114%) contrast(93%);
}


.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(165deg) brightness(106%) contrast(102%);
}

.wave.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(165deg) brightness(106%) contrast(102%);
}

.section-small.gray, .section-big.gray {
    background-color: #F6F6F6;
}

.img-column {
    height: 500px;
    width: 60%;
}

.img-column img {
    width: 100%;
    height: 100%;
}

.text-column {
    height: 500px;
    width: 40%;
}

h1 {
    font-size: 45px;
    color: black;
    padding: 60px 40px;
}

.section-big-container h1 {
    font-size: 45px;
    text-align: center;
}

p {
    color: black;
    font-size: 18px;
    padding: 20px 40px;
}

.section-big-container p {
    text-align: center;
}

.section-big {
    height: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-big-container {
    height: 1200px;
    width: 100%;
}

.section-big-container img {
    width: 100%;
}

.container-stars {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-stars img {
    width: 40%;
}

h2 {
    margin-bottom: 50px;
}

footer {
    background-color: #23272a;
    height: 600px;
}

.footer-top {
    height: 450px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lingua {
    vertical-align: middle;
    color: white;
}

h3 {
    font-size: 30px;
    padding: 15px;
    margin-right: 60px;
}

.blue-text {
    color: #7289da;
}


.fa-solid.fa-chevron-down {
    color: white;
    font-size: 14px;
    vertical-align: middle;
}

.socials img {
    line-height: 20px;
    height: 15px;
    vertical-align: middle;
    margin-left: 15px;
}

.socials {
    height:450px;
    width: calc(100% / 6 * 2);
}

.socials-icons{
    color: white;
    margin-left: 15px;
    margin-top: 15px;
}

.socials-icons i {
    font-size: 20px;
    margin-right: 15px;
}

.contacts {
    height: 450px;
    width: calc(100% / 6);
}

.contacts ul {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.footer-list {
    padding: 10px;
}

.footer-list li {
    margin: 10px 0;
}


.footer-top-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}

.footer-bottom {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.footer-bottom-container {
    border-top: 3px solid #7289da;
    height: 90px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sign-in, .discord-logo-footer img {
    margin-top: 12px;
}

/*inizio debug rules*/

/*
.header-top.debug {
    background-color: #add8e6;
} 

.discord-logo.debug, .menu.debug, .login.debug {
    background-color: #daa520;
    border: 2px dotted black;
}

.header-bottom.debug {
    background-color: #00008b;
}

.header-content.debug {
    background-color: #ee82ee;    
}

.img-column.debug {
    background-color: #1e90ff;
    border: 2px dotted black;
}

.text-column.debug {
    background-color: #ffc0cb;
    border: 2px dotted black;
}

.section-big-container.debug {
    background-color: #228b22;
    border: 2px dotted black;
}

.socials.debug {
    background-color: #f08080;
    border: 2px dotted black;
}

.contacts.debug {
    background-color: #20b2aa;
    border: 2px dotted white;
}

.footer-bottom-container.debug {
    background-color: #7fffd4;
}

.discord-logo-footer.debug, .sign-in.debug {
  background-color: #ffb6c1;
  border: 2px dotted black;
}
*/

/*fine debug rules*/